[submodule "use_loveit_with_fork_awesome"]
	path = use_loveit_with_fork_awesome
	url = https://codeberg.org/tytan652/use_loveit_with_fork_awesome
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/besendorf/LoveIt
