baseURL: "https://besendorf.org"
title: Janik Besendorf
paginate: 5
theme: WonderMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

defaultContentLanguage: de
defaultContentLanguageInSubdir: false
languages:
  de:
    disabled: false
    languageCode: de-DE
    languageDirection: ltr
    languageName: Deutsch
    weight: 1
  en:
    disabled: false
    languageCode: en-US
    languageDirection: ltr
    languageName: English
    weight: 2


params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Janik Besendorf
  description: "Wilkommen auf meiner Website"
  keywords: [Blog, WonderMod]
  author: Janik Besendorf
  # author: ["Me", "You"] # multiple authors
  images: ["/images/avatar.jpg"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShareButtons: ["linkedin", "twitter", "mastodon", "reddit"]
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "<link / abs url>"
    favicon16x16: "<link / abs url>"
    favicon32x32: "<link / abs url>"
    apple_touch_icon: "<link / abs url>"
    safari_pinned_tab: "<link / abs url>"

  label:
    text: "Home"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Janik Besendorf
    subtitle: "IT Security, Privacy, Hacking"
    imageUrl: "/images/avatar.jpg"
    imageWidth: 120
    imageHeight: 120
    imageTitle: photo of my face
    buttons:
      - name: Blog
        url: posts
      - name: Work
        url: work

  # home-info mode
  homeInfoParams:
    Title: "Hi there \U0001F44B"
    Content: Welcome to my blog

  socialIcons:
    - name: twitter
      url: "https://twitter.com/jbesendorf"
    - name: mastodon
      url: "https://chaos.social/@besendorf"
    - name: github
      url: "https://github.com/besendorf"
    - name: LinkedIn
      url: "https://linkedin.com/in/janik-besendorf"
    - name: matrix
      url: "https://matrix.to/#/@besendorf:systemli.org
"
    - name: rss
      url: "https://besendorf.org/index.xml"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: false # hide on single page
    linkFullImages: true

  editPost:
    URL: "https://github.com/besendorf/besendorf.github.io/tree/main/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: blog
      name: Blog
      url: /posts/
      weight: 20
    - identifier: work
      name: Work
      url: /work/
      weight: 20
    - identifier: Search
      name: Search
      url: /search/
      weight: 30
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    guessSyntax: true
    lineNos: true
    style: monokai
# enable search 
outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary
module:
  mounts:
    - source: content/en
      target: content
      lang: en
    - source: content
      target: content
      lang: de
    - source: content
      target: content
      lang: en
      
privacy:
  disqus:
    disable: true
  googleAnalytics:
    anonymizeIP: true
    disable: true
    respectDoNotTrack: true
    useSessionStorage: false
  instagram:
    disable: true
    simple: false
  twitter:
    disable: false
    enableDNT: true
    simple: false
  vimeo:
    disable: false
    enableDNT: true
    simple: false
  youtube:
    disable: false
    privacyEnhanced: true
