<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ partial "meta-description.html" . }}">
<meta property="og:type" content="{{ if and .IsPage (eq .Type "posts") }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ partial "meta-image.html" . }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="{{ replace .Language.Locale "-" "_" }}">
{{ range .Translations }}<meta property="og:locale:alternate" content="{{ replace .Language.Locale "-" "_" }}">{{ end }}
{{ if and .IsPage (eq .Type "posts") }}
  {{ if not .PublishDate.IsZero }}<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
  {{ if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
{{ end }}
